# Python
*.pyc
__pycache__/
.venv/
venv/
.env

# PlatformIO
.pio/

# macOS
.DS_Store

# Gemini
.gemini/

# Project-specific
settings.json
static/tts/
robot_names.json
robot_arms/web_app/.venv-desktop/
robot_arms/web_app/build/
robot_arms/web_app/dist/
